<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">
    <link rel="stylesheet" href="{{ '/fuckingstyle.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20100%20100%22%3E%3Ctext%20y=%22.9em%22%20font-size=%2290%22%3E🖕%3C/text%3E%3C/svg%3E">
  </head>
  <body>
    {{ content }}
  </body>
</html>
