<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">
    <link rel="stylesheet" href="{{ '/fuckingstyle.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48dGV4dCB5PSIuOWVtIiBmb250LXNpemU9IjkwIj7wn5aVPC90ZXh0Pjwvc3ZnPgo=">
  </head>
  <body>
    <article>
      {{ content }}
    </article>
  </body>
</html>
